<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363913249502-ucr6lug2ghjnbpt2sk50f316hg34l7o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363913249502-ucr6lug2ghjnbpt2sk50f316hg34l7o0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>363913249502-tknp143ofrcgpvgp55umrn5dft4f6m6k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBylXMXjRuf0squW9jAICmD6MuSy_qNY8I</string>
	<key>GCM_SENDER_ID</key>
	<string>363913249502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppChat</string>
	<key>PROJECT_ID</key>
	<string>fir-app-8d27d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-8d27d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363913249502:ios:87162acfe941c48020f84f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-8d27d.firebaseio.com</string>
</dict>
</plist>